body {
  background-color: #fff;
}

h1, p, ul, ol, li {
  color: #000;
}

.illustration {
  color: #fff;
  background-color: #ccc;
}
.illustration {
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}
.container {
  width: 900px;
  margin: 0 auto;
}

.illustration {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
